@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: auto;
    font-family: Poppins;
    font-size: 15px;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #868890;
    align-items: center;
}

header a {
    padding-left: 15px;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 5px;
}

header a img {
    padding-left: 15px;
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #868890;
}

#copyright {
    display: flex;
    flex-direction: column;
}

.logotipo {
    width: 180px;
    height: 90px;
    align-self: center;
}

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
}

#socialMedia img {
    padding-left: 15px;
    justify-content: baseline;
}