.divPai {
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100%;
}

cite {
    display: flex;
    color: #383838;
    margin: 0px 0px 0px 10%;
}

.divCarrossel {
    display: flex;
    margin: 0px;
    width: 50vw;
    height: 100%;
}

.divCarrossel img {
    margin: 0px;
    padding: 0px;
    width: 45vw;
    height: 100%;
}

.divEstilos {
    margin: 0px;
    display: flex;
    width: 60vw;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.mainText, .divLista, .divCoresMateriais {
    width: 20vw;
    padding: 3%;
    font-size: 15px;
    text-align: justify;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #d1d1d1 0px 5px 5px 0px;
    background-color: #868890;
}

.mainText {
    display: flexbox;
    width: 44vw;
    margin: 0px 0px 0px 10%;
}

.mainText a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 20% 0px 0px;
}

.titulo {
    display: flex;
    width: 60vw;
    margin: 0px 0px 0px 10%;
}

.divMain {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.subtitulo {
    width: 28vw;
    margin: 0px 9% 0px 0px;
}

.elementos h2 {
    width: 30vw;
}

.divMain {
    display: flex;
    width: 30vw;
    flex-direction: row;
}

.divLista {
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.divCoresMateriais {
    display: flexbox;
    width: 44vw;
    margin: 0px 0px 0px 10%;
}

.titulo, .subtitulo {
    display: flex;
    font-size: 30px;
    color: #DCB66F;
    text-transform: uppercase;
    font-weight: bold;
}


