@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins;
    color: #ffffff;
    box-sizing: border-box;
}

.spacing {
    width: 100%;
    height: 3vh;
}

.titulo {
    margin-top: 3%;
    font-size: 30px;
    color: #DCB66F;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.subtitulo {
    font-style: italic;
    color: #000;
    text-align: center;
    /* margin: 3%; */
    padding: 3%;
}

#divPai {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:center;
}

.divTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 0px 10% 5% 10%;
}

h3 {
    margin-top: 2%;
    font-size: 23px;
    color: #ddba78;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; 
}

p {
    color: #000;
    text-align: justify;
    margin-bottom: 1%;
    margin-top: 1%;
}

cite {
    color: #000;
    text-align: justify;
    font-style: italic;
    margin-top: 1%;
}

cite a {
    /* text-decoration: none; */
    color: #000;
    text-align: justify;
    font-style: italic;
}

.divTexto img {
    width: 50%;
    height: 50%;
}