#divPai {
    width: 100vw;
    height: 124vh;
}

#photoIniciar {
    width: 100vw;
    height: 110vh;
}

#btnInicio {
    width: 25vw;
    height: 10vh;
    display: flex;
    border: 1px;
    box-sizing: border-box;
    font-size: 30px;
    background-color: #868890;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: #414141 0px 5px 5px 0px; 
}

